@{
    ViewBag.Title = "Home Page";
}





@*<div class="container" style="align-content:center; align-items:center; align-self:center;">*@
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-6 bg-white">
            <h1 style="text-align:center;">Member Login</h1>
            <div class="form">
                <div class="text-center">

                    <div class="form-group ">

                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control form-inline" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary btn-md btn-block bottom">Login</button>
                </div>
            </div>
        </div>
    </div>
    </div>
@*</div>*@



@*<div class="row">
        <div class="col-lg-offset-6 col-md-6">
            <h4>Regisration Form</h4>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1"> Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputnumber">Mobile Number</label>
                    <input type="number" placeholder="Enter PhoneNumber" name="PhoneNumber" required>
                </div>
                <label for="exampleInputdob"><b>Date of Birth</b></label>
                <input type="date" placeholder="Enter date of birth" name="date of birth" required>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>*@
