
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_afterlogin.cshtml";
}

<body>
    <div class="container shadow-lg">

        <div class="row">
            <div class="col-lg-12  ">
                <!-- form card login -->
                <div class="card font-weight-normal m-3">
                    <div class="card-header ">
                        <h3 class=" bg-light text-center text-dark">Change Password</h3>
                    </div>
                    <div class="card-body bg-info">
                        <form class="form" role="form">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Old Password</label>
                                <input type="password" class="form-control" id="txtOldPassword" name="txtOldPassword" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Password" required onchange="CheckOldVsNewsPwd(); return false;">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input type="password" class="form-control" id="txtconfirmpassword" name="txtconfirmpassword" placeholder="Password" required>
                            </div>

                            <button type="submit" class="btn btn-dark btn-lg btn-block" id="btnLogin">Submit</button>
                            <link />

                        </form>
                    </div>
                    <!--/card-block-->
                </div>
                <!-- /form card login -->
            </div>


        </div>
        <!--/row-->
    </div>
</body>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">

    var password = document.getElementById("txtPassword")
        , confirm_password = document.getElementById("txtconfirmpassword");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    </script>