
@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_Layout_afterlogin.cshtml";
}

<body style="background-image:url(../../Content/images/banner223.jpg); background-repeat:no-repeat;">


    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <h2 class="text-center text-dark">GAME OVER</h2>
                <div class="row">
                    <div class="p-2 m-1 shadow bg-info text-white">
                        <div class="container-fluid h1 bg-dark">TotalGame : 15</div>
                        <div class="h3 p-2 m-1">TotalGame : <div class="font-weight-bold">15</div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="p-2 m-1 shadow bg-info text-white">
                        <div class="container-fluid h1 bg-dark">TotalPoint : 15</div>
                        <div class="h3 p-2 m-1">TotalGame : <div class="font-weight-bold">15</div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="p-2 m-1 shadow bg-info text-white">
                        <div class="container-fluid h1 bg-dark">Status : 15</div>
                        <div class="h3 p-2 m-1">TotalGame : <div class="font-weight-bold">15</div></div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 class="text-center text-dark">Account</h2>
                <div class="row">
                    <div class="container"></div>
                </div>

            </div>
        </div>

    </div>

</body>