
@{
    ViewBag.Title = "UserDishbord";
    Layout = "~/Views/Shared/_Layout_afterlogin.cshtml";
}

<body class="bg-light">
   

    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <h2 class="text-center text-dark">GAME OVER</h2>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">TotalGame</th>
                            <th scope="col">TotalPoint</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>200</td>
                            <td>1500</td>
                            <td>Approve</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>202</td>
                            <td>2500</td>
                            <td>Pendding</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>2004</td>
                            <td>3500</td>
                            <td>Approve</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 class="text-center text-dark">Account</h2>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">TotalObtain</th>
                            <th scope="col">CurrentPoint</th>
                            <th scope="col">PendingPoint</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>200</td>
                            <td>1500</td>
                            <td>Approve</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>202</td>
                            <td>2500</td>
                            <td>Pendding</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>2004</td>
                            <td>3500</td>
                            <td>Approve</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>