
@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_Layout_afterlogin.cshtml";
}

<body style="background-image:url(../../Content/images/banner223.jpg); background-repeat:no-repeat;">


    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 ">

                <h2 class="text-white">Wallet</h2>
                <div class="row">
                    <div class="p-2 m-1 shadow bg-info text-white">
                        <div class="container-fluid h3 ">TotalGame:<strong>15</strong></div>

                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="row">
                        <div class="p-2 m-1 shadow bg-info text-dark">
                            <div class="container bg-light font-weight-bold text-danger">Total Point :-<strong> 200</strong></div>
                        </div>
                    </div>


                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="row">
                        <div class="p-2 m-1 shadow bg-info text-dark">
                            <div class="container bg-light font-weight-bold text-danger">Total Point :-<strong> 200</strong></div>
                        </div>
                    </div>


                </div>

            </div>








            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <h2 class="text-white">Contest</h2>
                <div class="row">
                    <div class="p-2 m-1 shadow bg-info text-white">
                        <div class="container-fluid h3 ">Total obtain:<strong> 115</strong></div>

                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="row">
                        <div class="p-2 m-1 shadow bg-info text-dark border">
                            <div class="container bg-light font-weight-bold text-danger">Current Point:-<strong> 200</strong></div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="p-2 m-1 shadow bg-info text-dark border">
                            <div class="container bg-light font-weight-bold text-danger">Pending Point:-<strong> 200</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>












</body>