
@{
    ViewBag.Title = "UserDishbord";
    Layout = "~/Views/Shared/_Layout_afterlogin.cshtml";
}

<body class="h-100 shadow-lg border-danger">
    <img src="~/Content/images/pyramid-2.jpg" />
</body>