
@{
    ViewBag.Title = "verification";
    Layout = "~/Views/Shared/_Layout_afterlogin.cshtml";
}


<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Mobile OTP</label>
                        <input type="tel" class="form-control" id="txtMobileOTP" name="txtMobileOTP" pattern="^\d{10}$" placeholder="Mobile Number" required>
                    </div>

                    <button type="submit" class="btn btn-primary d-inline float-right">Submit</button>
                </form>
            </div>
            <div class="col-lg-6">
                <form>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>

                    </div>

                    <button type="submit" class="btn btn-primary float-right">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>